<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Express Forms </title>
  </head>
  <body>
    <header>
      <h1> Express Forms </h1>

      <nav>
        <ul>
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/fake-sign-up"> Sign Up </a> </li>
          <li> <a href="/fake-login"> Log In </a> </li>
        </ul>
      </nav>
    </header>

    <%- body -%>

    <footer>
      Made with &hearts; at Ironhack.
      ©2017 and stuff.
    </footer>
  </body>
</html>
