<h2> Log In </h2>

  <!--    app.post('/fake-login', ...) -->
  <!--         |         |             -->
  <!--         |         =========     -->
  <!--         |                 |     -->
<form method="post" action="/fake-login">
  <label for="the-email-input"> Your Email </label>
  <input  id="the-email-input" type="email" name="userEmail">
    <!--                                              |      -->
    <!--                                 req.body.userEmail  -->
  <br>

  <label for="the-password-input"> Your Password </label>
  <input  id="the-password-input" type="password" name="userPassword">
    <!--                                                     |        -->
    <!--                                       req.body.userPassword  -->
  <br>

  <button> Log In </button>
</form>
